<div id="footer">
  Generated on <%= Time.now.strftime("%c") %> by
  <a href="http://yardoc.org" title="Yay! A Ruby Documentation Tool" target="_parent">yard</a>
  <%= YARD::VERSION %>, using
  <a href="https://github.com/ErikSchlyter/rspec-illustrate" target="_parent">rspec-illustrate</a>
  <%= RSpec::Illustrate::VERSION %>
  (ruby-<%= RUBY_VERSION %>).
</div>
